extends layout

block body
  div#main-container.container.compliance-checker
    div.row
      div.col-md-12
        h2 Compliance Checker 
        p Here's your chance to check it out and provide feedback! <br/> <a href='https://compliance.ioos.us/index.html'>https://compliance.ioos.us/index.html</a>
        p Please submit compliance checker feedback on Github:
        p Bugs specific to NCEI checks or the interpretation of the NCEI specifications should be reported to <br/> <a href='https://github.com/ioos/cc-plugin-ncei/' target='_blank'>https://github.com/ioos/cc-plugin-ncei/</a>
        p All other issues should be reported here: <br/> <a href='https://github.com/ioos/compliance-checker/' target='_blank'>https://github.com/ioos/compliance-checker/</a>
        h3 Disclaimer
        p The objective of the IOOS Compliance Checker is to check your file against our interpretation of select dataset metadata standards to use as a guideline in generating compliant files. The compliance checker should not be considered the authoritative source on whether your file is 100% "compliant". Instead, we recommend that users use the results as a guide to work towards compliance.
