extends layout

block body
  div#main-container.container.compliance-checker
    div.row
      div.col-md-12
        h2 Compliance Checker 
        p Here's your chance to check it out and provide feedback! <br/> <a href='http://data.ioos.us/compliance/index.html'>http://data.ioos.us/compliance/index.html</a>
        p Please submit compliance checker feedback on Github:
        p Bugs specific to NCEI checks or the interpretation of the NCEI specifications should be reported to <br/> <a href='https://github.com/ioos/cc-plugin-ncei/'>https://github.com/ioos/cc-plugin-ncei/</a>
        p All other issues should be reported here: <br/> <a href='https://github.com/ioos/compliance-checker/'>https://github.com/ioos/compliance-checker/</a>